---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { TeamMember } from "~/types";
import { Image } from "astro:assets";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];

const features: Array<TeamMember> = [
    {
        name: "Carlos Díaz",
        description: "CEO",
        photo: "/src/content/us/_images/carlos.jpeg",
        socials: [
            {
                url: "https://www.linkedin.com/in/carlos-diaz-abad/",
                description: "Linkedin",
                icon: "fa-brands:linkedin",
            },
            {
                url: "https://github.com/caarlosdiaz",
                description: "GitHub",
                icon: "fa-brands:github",
            }
        ],
    },
    {
        name: "Guillermo Pérez",
        description: "Security expert",
        photo: "/src/content/us/_images/guillermo.jpeg",
        socials: [
            {
                url: "https://www.linkedin.com/in/guillermo-p%C3%A9rez-fern%C3%A1ndez/",
                description: "Linkedin",
                icon: "fa-brands:linkedin",
            },
            {
                url: "https://github.com/GuilleMurdoc",
                description: "GitHub",
                icon: "fa-brands:github",
            }
        ],
    },
    {
        name: "Izan García",
        description: "CTO",
        photo: "/src/content/us/_images/izan.jpeg",
        socials: [
            {
                url: "https://www.linkedin.com/in/izan-garcia/",
                description: "Linkedin",
                icon: "fa-brands:linkedin",
            },
            {
                url: "https://www.linkedin.com/in/izan-garcia/",
                description: "GitHub",
                icon: "fa-brands:github",
            }
        ],
    },
    {
        name: "Jianeng Huang",
        description: "Infrastructure specialist",
        photo: "/src/content/us/_images/jianeng.jpeg",
        socials: [
            {
                url: "https://www.linkedin.com/in/jianenghuang/",
                description: "Linkedin",
                icon: "fa-brands:linkedin",
            },
            {
                url: "https://github.com/jianenghuang",
                description: "GitHub",
                icon: "fa-brands:github",
            }
        ],
    },
    {
        name: "Liwei Hu",
        description: "Full stack",
        photo: "/src/content/us/_images/liwei.jpeg",
        socials: [
            {
                url: "https://www.linkedin.com/in/liweihuzeng/",
                description: "Linkedin",
                icon: "fa-brands:linkedin",
            },
            {
                url: "https://github.com/LiweiHZ",
                description: "GitHub",
                icon: "fa-brands:github",
            }
        ],
    },
];
---

<ContentSection title="Our Team" id="us">
    <Fragment slot="lead">
        We are a team of <span class="text-primary">brilliant</span> and 
        <span class="text-primary">experienced</span> engineers, dedicated to 
        delivering <span class="text-primary">innovative solutions</span>.
    </Fragment>

    <ul class="grid max-w-3xl grid-cols-1 md:max-w-4xl md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
        features.map(({ name, description, photo, quote="", socials }) => (
            <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
                <div class="size-32 rounded-full border-2 border-current p-1">
                    <Image
                        class="rounded-full h-full w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20"
                        src={photo}
                        height={320}
                        width={320}
                        alt={`A picture of ${name}`}
                    /> 
                </div>
                <p class="text-center font-extrabold text-xl">{name}</p>
                <p class="text-center text-offset text-md">{description}</p>
                <p class="text-center text-offset text-sm italic">{quote}</p>
                <ul class="grid grid-flow-col auto-cols-max gap-8">
                    {
                        socials.map((link) => (
                            <li>
                                <a
                                    class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
                                    href={link.url}
                                >
                                    <span class="sr-only">{link.description}</span>
                                    <Icon class="size-full" name={link.icon} />
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </li>
        ))
        }
    </ul>
</ContentSection>
