---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "ALL-IN-ONE",
    description:
      "Find everything you need unified in the same platform. Do not waste your valuable time.",
    icon: "mdi:handshake",
    style: "background-color: #f472b6; color: black;",
  },
  {
    title: "Accurate insights",
    description:
      "Stop researching, we have the information for you",
    icon: "mdi:feather",
  },
  {
    title: "Trustworthy platform",
    description:
      "We do not receive any payment from companies for positive reviews",
    icon: "mdi:directions-fork",
  },
  {
    title: "Wisdom from legitimate experts",
    description:
      "Reviews written by verified experts",
    icon: "mdi:graph",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    <span class="text-primary">RViews</span> provides <span class="text-primary">quality content</span> in an <span class="text-primary">elegant</span> design.
  </Fragment>
  <ul class="grid max-w-3xl grid-cols-1 md:grid-cols-2 md:max-w-4xl lg:grid-cols-2">
    {
      features.map(({ title, description, icon, style }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6" style={style}>
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm" style={style}>{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
